<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Tax Office</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/landing.css}">

    <style>
        .small {
            font-size: 12px;
        }
    </style>

<!--    <script>-->
<!--        // $('#form').submit(function() {-->
<!--        //     document.getElementById('hidden-eCod').value = document.getElementById('select-eCode').value-->
<!--        //     return true;-->
<!--        // });-->
<!--        function set() {-->
<!--            document.getElementById('hidden-eCod').value = document.getElementById('select-eCode').value-->
<!--        }-->
<!--    </script>-->
</head>
<body>

<div th:replace="index :: header"></div>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <!--        <li class="sidebar-brand">-->
        <!--            <a href="#">-->
        <!--                Start Bootstrap-->
        <!--            </a>-->
        <!--        </li>-->
        <li>
            <a href="/new-reports">New reports</a>
        </li>
    </ul>
</div>
<p id="hidden-eCod"></p>
<div class="container center">
    <!--            <a href="/login" class="button">Login</a>-->
    <!--    <a href="/" data-th-text="#{site.name}" style="width:15%; text-align: center"></a>-->
    <form th:action="@{/new-users}" th:object="${users}" method="post">
        <table class="table" style="font-size: 24px">
            <thead>
            <tr>
                <th scope="col">
                    <span style="display:table-cell; vertical-align:middle; padding-right: 10px">Name</span>
                    <span style="float: right">
                        <div>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='first_name', sort_direction='ASC')}" class="btn btn-primary small">ASC</a>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='first_name', sort_direction='DESC')}" class="btn btn-primary small">DESC</a>
                        </div>
                    </span>
                </th>
                <th scope="col">
                    <span style="display:table-cell; vertical-align:middle; padding-right: 10px">Surname</span>
                    <span style="float: right">
                        <div>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='last_name', sort_direction='ASC')}" class="btn btn-primary small">ASC</a>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='last_name', sort_direction='DESC')}" class="btn btn-primary small">DESC</a>
                        </div>
                    </span>
                </th>
                <th scope="col">
                    <span style="display:table-cell; vertical-align:middle; padding-right: 10px">City</span>
                    <span style="float: right">
                        <div>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.city', sort_direction='ASC')}" class="btn btn-primary small">ASC</a>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.city', sort_direction='DESC')}" class="btn btn-primary small">DESC</a>
                        </div>
                    </span>
                </th>
                <th scope="col">
                    <span style="display:table-cell; vertical-align:middle; padding-right: 10px">Street</span>
                    <span style="float: right">
                        <div>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.street', sort_direction='ASC')}" class="btn btn-primary small">ASC</a>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.street', sort_direction='DESC')}" class="btn btn-primary small">DESC</a>
                        </div>
                    </span>
                </th>
                <th scope="col">
                    <span style="display:table-cell; vertical-align:middle; padding-right: 10px">Type</span>
                    <span style="float: right">
                        <div>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.person_type', sort_direction='ASC')}" class="btn btn-primary small">ASC</a>
                            <a th:href="@{/new-users(page=${users.getPageNumber()}, sort_by='p.person_type', sort_direction='DESC')}" class="btn btn-primary small">DESC</a>
                        </div>
                    </span>
                </th>
                <th scope="col">EDRPOU code</th>
<!--                <th scope="col">Submit new user</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iteration : *{userPage}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.person.city}"></td>
                <td th:text="${user.person.street}"></td>
                <td th:text="${user.person.personType}"></td>
                <td>
                    <select th:field="*{userPage[__${iteration.index}__].person.ECode}" class="form-select" aria-label="Default select example">
                        <option th:value="000" selected>Select code</option>
                        <option th:each="eCode: ${eCodes}" th:value="${eCode.ECode}" th:text="${eCode.ECode}"></option>
                    </select>
                </td>
<!--                <td>-->
<!--                    <form id="form" th:action="@{/new-users}" th:object="${idAndECode}" method="post">-->
<!--                        <input type="hidden" th:value="${user.id}" name="id" />-->
<!--                        <input id="hidden-eCode" type="hidden" name="eCode" />-->
<!--                        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <span style="float: right">
                <a th:if="${1 < users.getPageNumber()}" th:href="@{/new-users(page=${users.getPageNumber()-1})}" class="btn btn-primary">Previous Page</a>
                <a th:if="${users.getTotalPages() > users.getPageNumber()}" th:href="@{/new-users(page=${users.getPageNumber()+1})}" class="btn btn-primary">Next Page</a>
            </span>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>